<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style/styles.css">
	<title>VueJS v-for</title>
</head>
<body>
<div id="app">
	<div class="item">
		<p class="comment">'v-for' - loop through array of elements </p>
		<p>Ingredients with index</p>
		<ul>
			<li v-for="(ingredient, i) in ingredients">
				{{ ingredient }} ({{ i }})
			</li>
		</ul>
	</div>
	<div class="item">
		<p>People</p>
		<template v-for="(person, i) in persons">
			<p><b>{{ i+1 }}.</b> Name: {{ person.name }} Age: {{ person.age }} Favorite colour: {{ person.color }}</p>
		</template>
	</div>
	<div class="item">
		<p class="comment">v-for inside v-for. Looping thought object and getting property and value</p>
		<ul>
			<li v-for="(person) in persons">
				<p v-for="(value, key) in person">{{key}}: {{ value }}</p>
			</li>
		</ul>

	</div>
</div>
<script src="../../vue.js"></script>
<script src="src/main.js"></script>
</body>
</html>