<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style/styles.css">
	<title>VueJS v-for</title>
</head>
<body>
<div id="app">
	<div class="item">
		<p class="comment"> 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference</p>
		<div>
			<button @click="show = !show">Toggle</button>
			<p v-if="show">You either see me ...</p>
			<p v-else="show">...or me</p>
			<p v-show="show">You either see me ...</p>
			<p v-show="!show">...or me</p>
		</div>
	</div>
	<div class="item">
		 <p class="comment">2) Output an 'ul of array elements of your choice. Also print the index of each element.</p>
		<ul>
			<li v-for="(fish, i) in fishes">{{ i + 1 }}. {{ fish }}</li>
		</ul>
	</div>
	<div class="item">
		<p class="comment"> 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item.</p>
		<ul>
			<li v-for="(value, key) in book">{{ key }}: {{ value }}</li>
		</ul>
	</div>
	<div class="item">
		<p class="comment">4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this)</p>
		<ul>
			<li v-for="value in object">
				<template v-if="Array.isArray(value)">
					<span v-for="element in value">{{ element }} </span>
				</template>
				<p v-else>{{ value }}</p>
			</li>
		</ul>
	</div>
</div>
<script src="../../vue.js"></script>
<script src="src/main.js"></script>
</body>
</html>