.container {
	display: flex;
	justify-content: center;
}

.box {
	height: 200px;
	width: 200px;
	background-color: gray;
	margin: 20px;
}

.green {
	background-color: darkseagreen;
}
.blue {
	background-color: dodgerblue;
}