<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles/style.css">
	<title>Styling with VueJS</title>
</head>
<body>
<div id="vue-styling">
	<div class="container">
		<div class="box"
			 @click="attachGreen = !attachGreen"
			 :class="divColor"
		></div>
		<div class="box"></div>
		<div class="box" :class="color" :style="size">
			<p>Color for third box(defined in css: blue || green)</p>
			<input type="text" v-model="color">
			<p>Height and width set by ":style"</p>
			<label for="width">Width</label>
			<input type="text" v-model="width" placeholder="width" id="width">
			<label for="height">Height</label>
			<input type="text" v-model="height" placeholder="height" id="height">
		</div>
	</div>
</div>
<hr>
<h2>Exercise 4</h2>
<hr>
<div id="exercise">
	<p class="comment">1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink"
		class on each new setInterval tick (attach respective class to the div with id "effect" below)</p>
	<div>
		<button @click="startEffect">Start Effect</button>
		<div id="effect" :class="styles"></div>
	</div>
	<p class="comment">2) Create a couple of CSS classes and attach them via the array syntax</p>
	<div :class="[colorRed, border]">I got no class :(</div>
	<p class="comment"> 3) Let the user enter a class (create some example classes) and attach it</p>
	<div>
		<p class="comment">*Add 'boxStyle' class</p>
		<input type="text" v-model="boxStyle">
		<div :class="boxStyle"></div>
	</div>
	<p class="comment">4) Let the user enter a class and enter true/ false for another class (create some example
		classes) and attach the classes</p>
	<div>
		<input type="text" v-model="inputClass">
		<input type="text" v-model="extraClass">
		<button @click="extraClass = !extraClass">Toggle class</button>
		<div :class="[inputClass, {red: extraClass}]"></div>
	</div>
	<p class="comment"> 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective
		styles.</p>
	<div>
		<input type="text" v-model="myStyle.background">
		<div class="box" :style="myStyle"></div>
	</div>
	<p class="comment">6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the
		below button.</p>
	<div>
		<button v-on:click="startProgress">Start Progress</button>
		<div :style="progressBar"></div>
	</div>
</div>
</body>
<script src="../vue.js"></script>
<script src="src/main.js"></script>
</html>